
#formus,#results{
  margin: 2%;
  border: 1px solid rgba(0, 0, 0,0.5);
  box-shadow: 20px 20px 20px  rgba(3, 3, 3, 0.55);
}
.css-1rim0pk-MuiGrid-root{
  background: #e0e0e0;
  margin: 0 !important;
  padding-bottom: 5% !important;
  padding-top:0 !important;
}